<nav class="container-fluid  navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Auto Mobiles</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

  {% for category in vehicle_categories %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'CarType' category.id %}">{{ category.Catagory_name }}</a>
  </li>
  {% endfor %}
          

        </ul>
      </div>
    </div>
  </nav>